:root {
  --light: #f0f9ff;
  --mid: #475873;
  --dark: #00072d;
  --accent01: #db5461;
  --accent02: #36827f;
}

body {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  color: var(--mid);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3 {
  margin: 2% 0;
}

h1 {
  font-size: 210%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 150%;
}

p {
  margin-bottom: 4%;
}

header {
  padding: 8px 5% 0px 0px;
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner {
  padding: 0 6%;
  background-image: url('../images/pattern.jpg');
  background-size: cover;
  display: flex;
  height: 20em;
  justify-content: flex-end; 
}

.title {
  color: var(--dark);
  background-color: var(--accent01);
  padding: 0 12px 0 8%;
  flex: 0 0 auto;
}

.subtitle {
  color: var(--light);
  background-color: var(--accent02);
  align-self: flex-end;
  padding: 2px 12px;
}

.section-name{
  flex: 0 0 120px;
  text-align: right;
  margin: 0;
}

nav li {
  float: left;
}

nav a {
  display: block;
  font-size: 120%;
  color: var(--accent02);
  text-decoration: none;
  border-bottom: 3px solid var(--accent02);
  padding: 4px 8px;
  margin: 6px;
}

nav a:hover {
  background-color: var(--accent02);
  color: var(--dark);
}

main {
  margin: 0 10%;
}

.section {
  display: flex;
  margin: 40px 0px;
}

.line {
  flex: 0 0 auto;
  background-color: var(--mid);
  width: 3px;
  margin: 0 27px 0 14px;
}

.project {

}

#project-01 {
  background-image: url('../images/horiseon-screenshot.png');
}
#project-02 {
  background-image: url('../images/lights.jpg');
}
#project-03 {
  background-image: url('../images/calculator.jpg');
}
#project-04 {
  background-image: url('../images/puzzle.jpg');
}
#project-05 {
  background-image: url('../images/run.jpg');
}

.contact-info a {
  font-size: 120%;
  color: var(--mid);
  text-decoration: none;
  border-bottom: 3px solid var(--mid); 
}